{% extends "base/base.html" %}
{% load static wagtailimages_tags wagtailcore_tags wagtailuserbar %}

{% block page_body %}
	{% wagtailuserbar %}

	<!-- Header -->
	<header id="header" class="reveal alt">
		{% include "includes/navbar.html" %}
	</header>

	<!-- Banner -->
	{% include "includes/banner-slides.html" %}

	<main>
		<!-- Promoted Content -->
		<section id="one" class="wrapper major-pad">
			<div class="inner">
				{% include "includes/promo.html" %}
			</div>
		</section>

		<!-- Happening - Events, Shows, Calendar -->
		{% if self.show_happening %}
		<section id="two" class="wrapper content-pad">
			<div class="inner">
				<div class="features {% if self.show_newsletter %}three{% else %}two{% endif %}">
					{% include "includes/event-tiles.html" %}
					{% if self.show_newsletter %}
					{% include "includes/newsletter-tile.html" %}
					{% endif %}
				</div>
			</div>
		</section>
		{% endif %}

		<!-- Recent Content -->
		{% if self.show_recent %}
		<section id="three" class="wrapper style2">
			<div class="inner">
				<h2>{% if header_recent %}{{ header_recent }}{% else %}Recent Posts{% endif %}</h2>
				{% include "includes/recent.html" %}
				{% include "includes/pagination.html" %}
			</div>
		</section>
		{% endif %}

		<!-- Contact -->
		{% if self.show_contact_info %}
		{% include "includes/contact.html" %}
		{% endif %}
	</main>
{% endblock %}
