<!DOCTYPE HTML>
<!--
	Slate by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
	====================================
	This theme has been customized for CMR to work
	with Django and Wagtail CMS by Martin Lanser
-->
{% load footer_tags static wagtailcore_tags wagtailuserbar %}
<html>
	<head>
		<title>
            {% block title %}
				{% firstof self.seo_title self.title %}
            {% endblock %}
            {% block title_suffix %}
                | {% firstof settings.base.SiteSettings.title_suffix current_site.site_name wagtail_site %}
            {% endblock %}
		</title>
		<meta charset="utf-8" />
        {% if self.search_description %}
        <meta name="description" content="{{ self.search_description }}" />
        {% endif %}
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

        {# Force all links in the live preview panel to be opened in a new tab #}
        {% if request.in_preview_panel %}
        <base target="_blank">
        {% endif %}

		<link rel="icon" type="image/x-icon" href="{% static 'assets/favicon/favicon.ico' %}">
		<link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/favicon/apple-touch-icon.png' %}">
		<link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/favicon//favicon-32x32.png' %}">
		<link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/favicon//favicon-16x16.png' %}">
		<link rel="manifest" href="{% static 'assets/favicon/site.webmanifest' %}">

        <link rel="stylesheet" type="text/css" href="{% static 'assets/css/fontawesome-all.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'assets/css/main.css' %}" />
		<noscript>
			<link rel="stylesheet" type="text/css" href="{% static 'assets/css/noscript.css' %}" />
		</noscript>
        {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
        {% endblock extra_css %}
	</head>
	<body class="is-preload {% block body_class %}{% endblock %}">
        {% block page_body %}
        <!-- BODY SECTION -->
        {% endblock page_body %}

		<!-- Footer -->
		{% include "includes/footer.html" %}

		<!-- Scripts -->
		<script src="{% static 'assets/js/jquery.min.js' %}"></script>
		<script src="{% static 'assets/js/jquery.dropotron.min.js' %}"></script>
		<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
		<script src="{% static 'assets/js/browser.min.js' %}"></script>
		<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
		<script src="{% static 'assets/js/util.js' %}"></script>
		<script src="{% static 'assets/js/main.js' %}"></script>
        {% block extra_js %}
        {# Override this in templates to add extra javascript #}
        {% endblock extra_js %}
	</body>
</html>
