{% extends "base/base.html" %}
{% load static wagtailimages_tags wagtailcore_tags wagtailuserbar %}

{% block page_body %}
	{% wagtailuserbar %}

	<!-- Header -->
	<header id="header">
		{% include "includes/navbar.html" %}
	</header>

	<!-- Banner -->
	{% if show_slides %}
	{% include "includes/banner-sides.html" %}
	{% elif show_banner %}
	{% include "includes/banner.html" %}
	{% endif %}

	<!-- Main -->
	{% block content %}
	<!-- Content Placeholder -->
	{% endblock %}

	<!-- Contact -->
	{% if show_contact_info %}
	{% include "includes/contact.html" %}
	{% endif %}
{% endblock %}
