{% load static wagtailcore_tags %}
<section class="spotlight">
    <a href="#" class="image"><img src="{% static 'images/sample01-551x297.jpg'%}" alt="Title of promoted content" /></a>
    <div class="content">
        <h2><a href="#">Title of promoted content</a></h2>
        <div class="metadata"><span class="icon solid fa-calendar-alt"></span><span class="date">{% now "M j, Y" %}</span></div>
        <p>This is the intro section of the promoted content. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id interdum magna, ultricies aliquet curabitur sed metus pellentesque, ornare sapien quis.</p>
        <ul class="actions">
            <li><a href="#" class="button">More</a></li>
        </ul>
    </div>
</section>
