{% load static wagtailcore_tags wagtailimages_tags %}
<!-- Banner -->
<section id="banner">
	<article>
		<img src="{% static 'images/banner01-2000x900.jpg' %}" alt="Test slide 01" />
		<div class="inner">
			<h2><a href="#">Test Slide 01</a></h2>
		</div>
	</article>
	<article>
		<img src="{% static 'images/banner02-2000x900.jpg' %}" alt="Test slide 02" />
		<div class="inner">
			<h2><a href="#">Test Slide 02</a></h2>
		</div>
	</article>
	<article>
		<img src="{% static 'images/banner03-2000x900.jpg' %}" alt="Test slide 03" />
		<div class="inner">
			<h2><a href="#">Test Slide 03</a></h2>
		</div>
	</article>
	<article>
		<img src="{% static 'images/banner04-2000x900.jpg' %}" alt="Test slide 04" />
		<div class="inner">
			<h2><a href="#">Test Slide 04</a></h2>
		</div>
	</article>
</section>
