{% load static wagtailcore_tags %}
<!-- 1st page -->
<ul class="pagination">
    <li><span class="button small disabled">Prev</span></li>
    <li><a href="#" class="page active">1</a></li>
    <li><a href="#" class="page">2</a></li>
    <li><a href="#" class="page">3</a></li>
    <li><span>&hellip;</span></li>
    <li><a href="#" class="page">28</a></li><!-- n-2 -->
    <li><a href="#" class="page">29</a></li><!-- n-1 -->
    <li><a href="#" class="page">30</a></li><!-- n   -->
    <li><a href="#" class="button small">Next</a></li>
</ul>

<!-- Pages 2 - 4 -->
<ul class="pagination">
    <li><span class="button small">Prev</span></li>
    <li><a href="#" class="page">1</a></li>
    <li><a href="#" class="page">2</a></li>
    <li><a href="#" class="page">3</a></li>
    <li><a href="#" class="page active">4</a></li>
    <li><span>&hellip;</span></li>
    <li><a href="#" class="page">28</a></li><!-- n-2 -->
    <li><a href="#" class="page">29</a></li><!-- n-1 -->
    <li><a href="#" class="page">30</a></li><!-- n   -->
    <li><a href="#" class="button small">Next</a></li>
</ul>

<!-- Pages 5 - n-4 -->
<ul class="pagination">
    <li><span class="button small">Prev</span></li>
    <li><a href="#" class="page">1</a></li>
    <li><a href="#" class="page">2</a></li>
    <li><a href="#" class="page">3</a></li>
    <li><span>&hellip;</span></li>
    <li><a href="#" class="page active">8</a></li>
    <li><span>&hellip;</span></li>
    <li><a href="#" class="page">28</a></li><!-- n-2 -->
    <li><a href="#" class="page">29</a></li><!-- n-1 -->
    <li><a href="#" class="page">30</a></li><!-- n   -->
    <li><a href="#" class="button small">Next</a></li>
</ul>

<!-- Pages n-3 - n-1 -->
<ul class="pagination">
    <li><span class="button small">Prev</span></li>
    <li><a href="#" class="page">1</a></li>
    <li><a href="#" class="page">2</a></li>
    <li><a href="#" class="page">3</a></li>
    <li><span>&hellip;</span></li>
    <li><a href="#" class="page active">27</a></li><!-- n-3 -->
    <li><a href="#" class="page">28</a></li><!-- n-2 -->
    <li><a href="#" class="page">29</a></li><!-- n-1 -->
    <li><a href="#" class="page">30</a></li><!-- n   -->
    <li><a href="#" class="button small">Next</a></li>
</ul>

<!-- Last page -->
<ul class="pagination">
    <li><span class="button small">Prev</span></li>
    <li><a href="#" class="page">1</a></li>
    <li><a href="#" class="page">2</a></li>
    <li><a href="#" class="page">3</a></li>
    <li><span>&hellip;</span></li>
    <li><a href="#" class="page">28</a></li><!-- n-2 -->
    <li><a href="#" class="page">29</a></li><!-- n-1 -->
    <li><a href="#" class="page active">30</a></li><!-- n   -->
    <li><span class="button small disabled">Next</span></li>
</ul>
