{% load static wagtailcore_tags %}
<section id="one" class="wrapper major-pad">
    <div class="inner">
        <section class="spotlight">
            <div class="content">
                <h2>Title of promoted content</h2>
                <p>This is the intro section of the promoted content. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id interdum magna, ultricies aliquet curabitur sed metus pellentesque, ornare sapien quis.</p>
            </div>
            <span class="image"><img src="{% static 'images/pic01-1080x720.jpg'%}" alt="" /></span>
        </section>
    </div>
</section>
