{% load static wagtailcore_tags %}
<div class="posts">
    <section class="post">
        <a href="#"class="image"><img src="{% static 'images/sample01-551x297.jpg'%}" alt="Lorem ipsum" /></a>
        <div class="content list">
            <h3><a href="#">Congue portitor</a></h3>
            <div class="metadata"><span class="icon solid fa-calendar-alt"></span><span class="date">{% now "M j, Y" %}</span></div>
            <p>Aenean ultricies magna non sapien rhoncus, ac ullamcorper lorem convallis. Quisque at venenatis nisi, amet finibus mauris. Sed sodales ultricies eros, sit amet sodales sapien.</p>
        </div>
        <ul class="actions list">
            <li><a href="#" class="button small">More</a></li>
        </ul>
    </section>

    <section class="post">
        <a href="#"><span class="image"><img src="{% static 'images/sample02-551x297.jpg'%}" alt="Lorem ipsum" /></span></a>
        <div class="content list">
            <h3><a href="#">Duis nisl euismod</a></h3>
            <div class="metadata"><span class="icon solid fa-calendar-alt"></span><span class="date">{% now "M j, Y" %}</span></div>
            <p>Ultrices nec metus. Aenean ultricies magna et sapien rhoncus ac ullamcorper lorem convallis. Quisque at venenatis nisi amet finibus mauris. Sed sodales ultricies magna etiam.</p>
        </div>
        <ul class="actions list">
            <li><a href="#" class="button small">More</a></li>
        </ul>
    </section>
    <section class="post">
        <a href="#"><span class="image"><img src="{% static 'images/sample03-551x297.jpg'%}" alt="Lorem ipsum" /></span></a>
        <div class="content list">
            <h3><a href="#">Elementum auctor</a></h3>
            <div class="metadata"><span class="icon solid fa-calendar-alt"></span><span class="date">{% now "M j, Y" %}</span></div>
            <p>Quis interdum. Lorem quis lacus justo. Sed libero condimentum vehicula sem vel, mattis amet mauris. Nullam lacinia sit amet felis vel vestibulum. Morbi aliquam aenean.</p>
        </div>
        <ul class="actions list">
            <li><a href="#" class="button small">More</a></li>
        </ul>
    </section>
    <section class="post">
        <a href="#"><span class="image"><img src="{% static 'images/sample04-551x297.jpg'%}" alt="Lorem ipsum" /></span></a>
        <div class="content list">
            <h3><a href="#">Urna vel lacinia</a></h3>
            <div class="metadata"><span class="icon solid fa-calendar-alt"></span><span class="date">{% now "M j, Y" %}</span></div>
            <p>Integer vel tincidunt lacus. Nulla augue nunc, eleifend quis leo ac, maximus interdum tellus. Etiam at vestibulum felis, id efficitur risus. Praesent ac nulla ex. Duis elementum.</p>
        </div>
        <ul class="actions list">
            <li><a href="#" class="button small">More</a></li>
        </ul>
    </section>
    <section class="post">
        <a href="#"><span class="image"><img src="{% static 'images/sample01-551x297.jpg'%}" alt="Lorem ipsum" /></span></a>
        <div class="content list">
            <h3><a href="#">Neque et suscipit</a></h3>
            <div class="metadata"><span class="icon solid fa-calendar-alt"></span><span class="date">{% now "M j, Y" %}</span></div>
            <p>Libero condimentum, vehicula sem vel, mattis mauris. Nullam lacinia sit amet felis vel vestibulum. Morbi in aliquam est. Aenean dapibus porttitor nulla ultrices venenatis.</p>
        </div>
        <ul class="actions list">
            <li><a href="#" class="button small">More</a></li>
        </ul>
    </section>
    <section class="post">
        <a href="#"><span class="image"><img src="{% static 'images/sample02-551x297.jpg'%}" alt="Lorem ipsum" /></span></a>
        <div class="content list">
            <h3><a href="#">Vestibulum placerat</a></h3>
            <div class="metadata"><span class="icon solid fa-calendar-alt"></span><span class="date">{% now "M j, Y" %}</span></div>
            <p>Tristique tellus et ullamcorper. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent mauris risus, pellentesque eu leo non, tincidunt.</p>
        </div>
        <ul class="actions list">
            <li><a href="#" class="button small">More</a></li>
        </ul>
    </section>
</div>
