{% load static wagtailcore_tags %}
<section class="content">
    <span class="icon-wrapper major"><span class="icon solid fa-envelope-open-text"><span class="icon-label">Newsletter</span></span></span>
    <form method="post" action="#">
        <p>Stay up-to-date with our events, shows, and other news related to CMR &amp; NRHS by subscribing to our newsletter.</p>
        <div class="row gtr-uniform">
            <div class="col-12">
                <label for="email">Your Email</label>
                <input type="email" name="email" id="email" />
            </div>
            <div class="col-12">
                <ul class="actions">
                    <li><input type="submit" value="Subscribe" class="primary" /></li>
                </ul>
            </div>
        </div>
    </form>
</section>
