<!DOCTYPE HTML>
<!--
	Slate by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
	====================================
	This theme has been customized for CMR to work
	with Django and Wagtail CMS by Martin Lanser
-->
{% load static wagtailimages_tags wagtailcore_tags wagtailuserbar wagtailmarkdown %}
<html>
	<head>
		<title>DEBUG - Blog Page</title>
		<meta charset="utf-8" />
        {% if page.search_description %}
        <meta name="description" content="{{ page.search_description }}" />
        {% endif %}
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

        {# Force all links in the live preview panel to be opened in a new tab #}
        {% if request.in_preview_panel %}
        <base target="_blank">
        {% endif %}

        <link rel="stylesheet" type="text/css" href="{% static 'assets/css/fontawesome-all.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'assets/css/main.css' %}" />
		<noscript>
			<link rel="stylesheet" type="text/css" href="{% static 'assets/css/noscript.css' %}" />
		</noscript>
        {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
        {% endblock %}
	</head>
	<body class="is-preload">

		<!-- Header -->
		<header id="header">
			{% include "includes/navbar.html" %}
		</header>

		<!-- Main -->
		<section id="main" class="wrapper sidebar right">
			<div class="inner">
				<header class="major">
					<h2>Blog Page Main Header (H2)</h2>
					<div class="metadata">
						<span class="icon solid fa-calendar-alt"></span><span class="date">{% now "M j, Y" %}</span>
						| <span class="icon solid fa-tags"></span>
							<a class="tags" href="#">tagOne</a> &nbsp; <a class="tags" href="#">tagTwo</a> &nbsp; <a class="tags" href="#">tagThree</a>
					</div>
					</header>

				<!-- Content -->
				<div class="content">
					<img class="image fit" src="{% static 'images/sample01-551x297.jpg' %}" alt="Lorem ipsum" />
					<h3>This is content section header (H3)</h3>
					<p>Use pages like this for regular content such as descriptions and outlines of projects, exhibits, and more. This can also be used as a blog post template.</p>
					<p>Please refer to the <a href="{% url 'theme_elements' %}">elements page</a> for a complete list of available page elements and how they're rendered on this site.</p>
					<h3>Another section header (H3)</h3>
					<p>In vestibulum massa quis arcu lobortis tempus. Nam pretium arcu in odio vulputate luctus. Suspendisse euismod lorem eget lacinia fringilla. Sed sed felis justo. Nunc sodales elit in laoreet aliquam. Nam gravida, nisl sit amet iaculis porttitor, risus nisi rutrum metus.</p>
					<ul>
						<li>This is a bullet list.</li>
						<li>Col accumsan arcu mi aliquet placerat.</li>
						<li>Lobortis vestibulum ut magna tempor massa nascetur.</li>
						<li>Blandit massa non blandit tempor interdum.</li>
						<li>Lacinia mattis arcu nascetur lobortis.</li>
					</ul>
					<hr />
					<ul class="pagination">
						<li><span class="button disabled small">Prev</span></li>
						<li><a href="#" class="button small">Next</a></li>
					</ul>
				</div>

				<!-- Sidebar -->
				<div class="sidebar">

					<section>
						<h3>Magna Feugiat</h3>
						<p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit..</p>
						<footer>
							<ul class="actions">
								<li><a href="#" class="button">Learn More</a></li>
							</ul>
						</footer>
					</section>
					<hr />
					<section>
						<a href="#" class="image fit"><img src="{% static 'images/sample02-551x297.jpg' %}" alt="Lorem ipsum" /></a>
						<h3>Amet Lorem Tempus</h3>
						<p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
						<footer>
							<ul class="actions">
								<li><a href="#" class="button">Learn More</a></li>
							</ul>
						</footer>
					</section>

				</div>

			</div>
		</section>

		<!-- Contact -->
		{% if page.showContact %}
		{% include "debug/theme-contact.html" %}
		{% endif %}

		<!-- Footer -->
		{% include "debug/theme-footer.html" %}

		<!-- Scripts -->
		<script src="{% static 'assets/js/jquery.min.js' %}"></script>
		<script src="{% static 'assets/js/jquery.dropotron.min.js' %}"></script>
		<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
		<script src="{% static 'assets/js/browser.min.js' %}"></script>
		<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
		<script src="{% static 'assets/js/util.js' %}"></script>
		<script src="{% static 'assets/js/main.js' %}"></script>
        {% block extra_js %}
        {# Override this in templates to add extra javascript #}
        {% endblock %}
	</body>
</html>
