{% load static wagtailcore_tags wagtailimages_tags %}
<!-- Banner -->
<section id="banner">
	<article>
		<img src="{% static 'images/slide01-1920x1080.jpg' %}" alt="" />
		<div class="inner">
			<h2><a href="#">CMR HO layout</a></h2>
		</div>
	</article>
	<article>
		<img src="{% static 'images/slide02-1920x1080.jpg' %}"  alt="" />
		<div class="inner">
			<h2><a href="#">Steel plant</a></h2>
		</div>
	</article>
	<article>
		<img src="{% static 'images/slide03-1920x1080.jpg' %}" alt="" />
		<div class="inner">
			<h2><a href="#">CMR HO laoyout</a></h2>
		</div>
	</article>
	<article>
		<img src="{% static 'images/slide04-1920x1080.jpg' %}"  alt="" />
		<div class="inner">
			<h2><a href="#">Steel plant switcher</a></h2>
		</div>
	</article>
</section>
