{% load static wagtailcore_tags wagtailimages_tags %}

<section id="banner">
	{% for slide in page.banner_slides.all %}
	<article>
		{% image slide.image max-2000x900 as tmp_img %}
		<img src="{{ tmp_img.url }}" alt="{% firstof slide.text tmp_img.alt %}" />
		{% if slide.text %}
		<div class="inner">
			<h2>
				{% if slide.url %}<a href="{{ slide.url }}">{% endif %}
				{% firstof slide.text page.title %}
				{% if slide.url %}</a>{% endif %}
			</h2>
		</div>
		{% endif %}
	</article>
	{% empty %}
		<article>
			<img src="{% static 'images/blank-2000x900.jpg' %}" alt="Default banner" />
			<div class="inner">
				<h2>{{ page.title }}</h2>
			</div>
		</article>
	{% endfor %}
</section>
