{% load static wagtailcore_tags wagtailimages_tags %}

<section id="banner">
	<article>
	{% if banner %}
		{% image banner.image max-2000x900 as tmp_img %}
		<img src="{{ tmp_img.url }}" alt="{% firstof banner.caption tmp_img.alt self.title %}" />
	{% else %}
		{# Show blank content if no banner image is defined #}
		<img src="{% static 'images/blank-2000x900.jpg' %}" alt="Default banner" />
	{% endif %}
		<div class="inner">
			<h2>{% firstof banner.caption self.title %}</h2>
		</div>
	</article>
</section>
