{% load static wagtailcore_tags wagtailimages_tags %}

<section id="banner">
	<article>
		{% if banner.image %}
		{# Show if banner image is defined #}
		<img src="{% image banner.image max-2000x900 %}" alt="" />
		{% elif DEBUG %}
		{# Show debug content if no banner image is defined and debug mode #}
		<img src="{% static 'images/banner01-2000x900.jpg' %}" alt="" />
		{% else %}
		{# Show blank content if no banner image is defined #}
		<img src="{% static 'images/blank-2000x900.jpg' %}" alt="" />
		{% endif %}
		<div class="inner">
			<h2>{{ firstof banner.text page.title }}</h2>
		</div>
	</article>
</section>
