{% load wagtailcore_tags wagtailimages_tags %}
<section id="contact" class="wrapper split">
	<div class="inner">
		<section>
			<h2>Send us a message</h2>
			<form method="post" action="#">
				<div class="row gtr-uniform">
					<div class="col-6 col-12-large col-6-medium col-12-xsmall">
						<label for="name">Name</label>
						<input type="text" name="name" id="name" />
					</div>
					<div class="col-6 col-12-large col-6-medium col-12-xsmall">
						<label for="email">Email</label>
						<input type="email" name="email" id="email" />
					</div>
					<div class="col-12">
						<label for="message">Message</label>
						<textarea name="message" id="message" rows="5"></textarea>
					</div>
					<div class="col-12">
						<ul class="actions">
							<li><input type="submit" value="Send Message" class="primary" /></li>
							<li><input type="reset" value="Reset" /></li>
						</ul>
					</div>
				</div>
			</form>
		</section>
		{% with youtube=settings.base.ContactSettings.youtube instagram=settings.base.ContactSettings.instagram visit=settings.base.ContactSettings.visit_addr mon=settings.base.ContactSettings.open_MON tue=settings.base.ContactSettings.open_TUE wed=settings.base.ContactSettings.open_WED thu=settings.base.ContactSettings.open_THU fri=settings.base.ContactSettings.open_fri sat=settings.base.ContactSettings.open_SAT sun=settings.base.ContactSettings.open_SUN holidays=settings.base.ContactSettings.open_holidays %}
			{% if youtube or instagram or visit %}
			<section>
				<h2>Other ways to reach us</h2>
				<ul class="bulleted-icons">
					{% if youtube %}
					<li>
						<span class="icon-wrapper"><span class="icon brands fa-youtube"></span></span>
						<h3>Youtube</h3>
						<p><a href="https://www.youtube.com/@{{ youtube }}">@{{ youtube }}</a></p>
					</li>
					{% endif %}
					{% if instagram %}
					<li>
						<span class="icon-wrapper"><span class="icon brands fa-instagram"></span></span>
						<h3>Instagram</h3>
						<p><a href="https://www.instagram.com/{{ instagram }}">@{{ instagram }}</a></p>
					</li>
					{% endif %}
					{% if visit %}
					<li>
						<span class="icon-wrapper"><span class="icon solid fa-building"></span></span>
						<h3>Club Location</h3>
						{{ visit|linebreaks }}
					</li>
					{% endif %}
					<li>
						<span class="icon-wrapper"><span class="icon solid fa-clock"></span></span>
						<h3>Open to Public</h3>
						<p>
							{% if mon %}<b>MON {{ mon }}</b>{% else %}MON <i>Closed</i>{% endif %}<br />
							{% if tue %}<b>TUE {{ tue }}</b>{% else %}TUE <i>Closed</i>{% endif %}<br />
							{% if wed %}<b>WED {{ wed }}</b>{% else %}WED <i>Closed</i>{% endif %}<br />
							{% if thu %}<b>THU {{ thu }}</b>{% else %}THU <i>Closed</i>{% endif %}<br />
							{% if fri %}<b>FRI {{ fri }}</b>{% else %}FRI <i>Closed</i>{% endif %}<br />
							{% if sat %}<b>SAT {{ sat }}</b>{% else %}SAT <i>Closed</i>{% endif %}<br />
							{% if sun %}<b>SUN {{ sun }}</b>{% else %}SUN <i>Closed</i>{% endif %}<br />
							<i>{% if holidays %}{{ holidays }}{% else %}Holiday hours may differ.{% endif %}</i>
						</p>
					</li>
				</ul>
			</section>
			{% endif %}
		{% endwith %}
	</div>
</section>
