{% load wagtailcore_tags wagtailimages_tags %}
<section id="contact" class="wrapper split">
	<div class="inner">
		<section>
			<h2>Send us a message</h2>
			<form method="post" action="#">
				<div class="row gtr-uniform">
					<div class="col-6 col-12-large col-6-medium col-12-xsmall">
						<label for="name">Name</label>
						<input type="text" name="name" id="name" />
					</div>
					<div class="col-6 col-12-large col-6-medium col-12-xsmall">
						<label for="email">Email</label>
						<input type="email" name="email" id="email" />
					</div>
					<div class="col-12">
						<label for="message">Message</label>
						<textarea name="message" id="message" rows="5"></textarea>
					</div>
					<div class="col-12">
						<ul class="actions">
							<li><input type="submit" value="Send Message" class="primary" /></li>
							<li><input type="reset" value="Reset" /></li>
						</ul>
					</div>
				</div>
			</form>
		</section>
		{% with youtube=settings.base.ContactSettings.youtube instagram=settings.base.ContactSettings.instagram addr=settings.base.ContactSettings.visit_addr map=settings.base.ContactSettings.visit_map_link mon=settings.base.ContactSettings.open_MON tue=settings.base.ContactSettings.open_TUE wed=settings.base.ContactSettings.open_WED thu=settings.base.ContactSettings.open_THU fri=settings.base.ContactSettings.open_fri sat=settings.base.ContactSettings.open_SAT sun=settings.base.ContactSettings.open_SUN holidays=settings.base.ContactSettings.open_holidays %}
			{% if youtube or instagram or visit %}
			<section>
				<h2>Other ways to reach us</h2>
				<ul class="bulleted-icons">
					{% if youtube %}
					<li>
						<span class="icon-wrapper"><span class="icon brands fa-youtube"></span></span>
						<h3>Youtube</h3>
						<p><a href="https://www.youtube.com/@{{ youtube }}">@{{ youtube }}</a></p>
					</li>
					{% endif %}
					{% if instagram %}
					<li>
						<span class="icon-wrapper"><span class="icon brands fa-instagram"></span></span>
						<h3>Instagram</h3>
						<p><a href="https://www.instagram.com/{{ instagram }}">@{{ instagram }}</a></p>
					</li>
					{% endif %}
					{% if addr %}
					<li>
						<span class="icon-wrapper"><span class="icon solid fa-map-marker-alt"></span></span>
						<h3>Club Location</h3>
						<p>
						{% if map %}
							<a href="{{ map }}" target="_blank">{{ addr|linebreaksbr }}</a>
						{% else %}
							{{ addr|linebreaksbr }}
						{% endif %}
						</p>
					</li>
					{% endif %}
					<li>
						<span class="icon-wrapper"><span class="icon solid fa-clock"></span></span>
						<h3>Open to Public</h3>
						<p>
							{% if mon %}<strong>MON {{ mon }}</strong>{% else %}MON <em>Closed</em>{% endif %}<br />
							{% if tue %}<strong>TUE {{ tue }}</strong>{% else %}TUE <em>Closed</em>{% endif %}<br />
							{% if wed %}<strong>WED {{ wed }}</strong>{% else %}WED <em>Closed</em>{% endif %}<br />
							{% if thu %}<strong>THU {{ thu }}</strong>{% else %}THU <em>Closed</em>{% endif %}<br />
							{% if fri %}<strong>FRI {{ fri }}</strong>{% else %}FRI <em>Closed</em>{% endif %}<br />
							{% if sat %}<strong>SAT {{ sat }}</strong>{% else %}SAT <em>Closed</em>{% endif %}<br />
							{% if sun %}<strong>SUN {{ sun }}</strong>{% else %}SUN <em>Closed</em>{% endif %}<br />
							<em>{% if holidays %}{{ holidays }}{% else %}Holiday hours may differ.{% endif %}</em>
						</p>
					</li>
				</ul>
			</section>
			{% endif %}
		{% endwith %}
	</div>
</section>
