{% load static wagtailcore_tags %}
<section class="content">
    <span class="icon-wrapper major"><span class="icon solid fa-calendar-check icon-label">Events</span></span>
    <h3>XYZ Event</h3>
    <p>Proin consequat luctus elit, nec blandit tellus ut volutpat magna. mi euismod elementum lectus et consequat etiam lorem etiam sed tempus. Feugiat veroeros lorem ipsum dolor.</p>
</section>
<section class="content">
    <span class="icon-wrapper major"><span class="icon solid fa-globe-americas icon-label">Shows</span></span>
    <h3>XYZ Train Show</h3>
    <p>Pellentesque, ornare sapien quis, tristique ante. Proin nec facilisis odio. Integer elementum nunc nec leo interdum, non tristique eros laoreet. Integer vitae erat suscipit commodo.</p>
</section>
