{% load static wagtailcore_tags wagtailimages_tags %}

<div class="posts">
    {% for post in posts %}
    <section class="post">
        <a href="{% pageurl post %}" class="image">
            {% picture post.main_image.image format-{avif,webp,jpeg} max-297x297 %}
        </a>
        <div class="content list">
            <h3><a href="{% pageurl post %}">{{ post.title }}</a></h3>
            <div class="metadata"><span class="icon solid fa-calendar-alt"></span><span class="date">{{ post.first_published_at|date:'M j, Y' }}</span></div>
            <p>{{ post.intro|richtext|truncatewords:25 }}</p>
        </div>
        <ul class="actions list">
            <li><a href="{% pageurl post %}" class="button small">More</a></li>
        </ul>
    </section>
    {% empty %}
    <div class="content">
        <p>Sorry, there are no additional posts in this section.</p>
    </div>
    {% endfor %}
</div>
