{% load static wagtailcore_tags %}
<div class="sidebar">
    {% if page.about %}
    <section>
        {% if page.about_image %}
        <span class="image fit"><img src="{% static 'images/sample03-551x297.jpg' %}" alt="Lorem ipsum" /></span>
        {% endif %}
        <h3>{% firstof page.about_title 'About' %}</h3>
        {{ page.about|richtext }}
    </section>
    <hr />
    {% endif %}
    <section>
        <span class="image fit"><img src="{% static 'images/sample03-551x297.jpg' %}" alt="Lorem ipsum" /></span>
        <h3>About This Section</h3>
        <p>This is an example of content that has CTAs, but no links from the header or the image.</p>
        <p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit..</p>
        <footer>
            <ul class="actions">
                <li><a href="#" class="button small">Action 1</a></li>
                <li><a href="#" class="button small">Action 2</a></li>
            </ul>
        </footer>
    </section>
    <hr />
    <section>
        <a href="#" class="image fit"><img src="{% static 'images/sample03-551x297.jpg' %}" alt="Lorem ipsum" /></a>
        <a href="#"><h3>Example with Linked Image</h3></a>
        <p>This is an example has a linked image, header, and button. This would normally be used links to special content, etc. that we want to highlight.</p>
        <footer>
            <ul class="actions">
                <li><a href="#" class="button small">Learn More</a></li>
            </ul>
        </footer>
    </section>
    <hr />
    <section>
        <a href="#" class="image fit"><img src="{% static 'images/sample04-551x297.jpg' %}" alt="Lorem ipsum" /></a>
        <h3>Amet Lorem Tempus</h3>
        <p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
        <footer>
            <ul class="actions">
                <li><a href="#" class="button small">Learn More</a></li>
            </ul>
        </footer>
    </section>
</div>
