{% extends "base/main.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}
{% block body_class %}template-blog-page{% endblock %}

{% block content %}
<section id="main" class="wrapper sidebar right">
    <div class="inner">

        <!-- Content Header -->
        <header class="major">
            <h1>{{ self.title }}</h1>
            {% if show_meta %}
                <div class="metadata">
                    <span class="icon solid fa-calendar-alt"></span><span class="date">{{ self.first_published_at|date:'M j, Y' }}</span>
                    {% if self.get_tags %}
                        | <span class="icon solid fa-tags"></span>
                        {% for tag in self.get_tags %}
                            <a class="tags" href="{{ tag.url }}">{{ tag }}</a>
                        {% endfor %}
                    {% endif %}
                </div>
                {% if self.authors %}
                <div class="metadata author">
                {% for author in authors %}
                    {% picture author.image format-{avif,webp,jpeg} fill-50x50-c100 class="author avatar mini" %}
                    {{ author.first_name }} {{ author.last_name }}
                    {% endfor %}
                </div>
                {% endif %}
            {% endif %}
        </header>

        <!-- Content -->
        <div class="content">
            {% if self.main_image %}
                {% picture self.main_image.image format-{avif,webp,jpeg} fill-1200x647-c100 class="image fit" %}
                <span class="image-credits">Credits: <a href="{{ self.main_image.credit_url }}" target="_blank">{{ self.main_image.credit_text }}</a></span>
            {% else %}
                <img class="image fit" src="{% static 'images/sample01-551x297.jpg' %}" alt="Sample Image 01" />
            {% endif %}
            {{ self.body }}
            {% if gallery or True %}
            {% include "includes/gallery.html" %}
            {% endif %}
        </div>

        <!-- Sidebar -->
        {% include "includes/sidebar.html" %}

    </div>
</section>
{# Link back to blog landing page #}
{% if self.get_parent.url != self.url %}
<!-- p><a href="{{ self.get_parent.url }}">Return to {{ self.get_parent.title }}</a></p -->
{% endif %}
{% endblock content %}
