{% extends "base/main.html" %}

{% load wagtailcore_tags wagtailimages_tags %}
{% block body_class %}template-blog-main{% endblock %}

{% block content %}
<section id="main" class="wrapper sidebar right">
    <div class="inner">

        <!-- Content -->
        <div class="content">
            <!-- Promoted Content -->
            {% if show_promo %}
            {% include "includes/promo.html" %}
            {% endif %}

            <!-- Recent Content -->
            <section id="three" class="wrapper style2">
                <div class="inner">
                    <h2>{% firstof header 'Recent Posts' %}</h2>
                    {% include "includes/recent.html" %}
                    {% include "includes/pagination.html" %}
                </div>
            </section>
        </div>

    <!-- Sidebar -->
    {% include "includes/sidebar.html" %}

    </div>
</section>
{% endblock content %}
