{% extends "base/main.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}
{% block body_class %}template-blog-page{% endblock %}

{% block content %}
<section id="main" class="wrapper sidebar right">
    <div class="inner">

        <!-- Content Header -->
        <header class="major">
            <h2>{{ page.title }}</h2>
            {% if show_meta %}
                <p class="metadata">
                    <span class="icon solid fa-calendar-alt"></span><span class="date">{{ page.date }}</span>
                    {% if page.get_tags %}
                        | <span class="icon solid fa-tags"></span>
                        {% for tag in page.get_tags %}
                            <a class="tags" href="{{ tag.url }}">{{ tag }}</a>
                        {% endfor %}
                    {% endif %}
                </p>
                {% if page.authors %}
                <p class="metadata author">
                {% for author in authors %}
                    {% picture author.image format-{avif,webp,jpeg} fill-50x50-c100 class="author avatar mini" %}
                    {{ author.first_name }} {{ author.last_name }}
                    {% endfor %}
                </p>
                {% endif %}
            {% endif %}
        </header>

        <!-- Content -->
        <div class="content">
            {% with page.main_image as main_image %}
                {% if main_image %}
                    <span class="image fit">{% image main_image.image fill-1200x800 %}</span><p class="credits"><a href="#">{{ main_image.credit_text }}</a></p>
                {% else %}
                    <span class="image fit"><img src="{% static 'images/pic07-1200x800.jpg' %}" alt="" /></span>
                {% endif %}
            {% endwith %}
            {% if is_markdown %}
            {{ page.body|markdown|safe }}
            {% else %}
            {{ page.body|richtext }}
            {% endif %}
        </div>

        <!-- Sidebar -->
        {% include "includes/sidebar.html" %}

    </div>
</section>
{# Link back to blog landing page #}
{% if page.get_parent.url != page.url %}
<!-- p><a href="{{ page.get_parent.url }}">Return to {{ page.get_parent.title }}</a></p -->
{% endif %}
{% endblock content %}
