{% extends "base/main.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-sectionpage{% endblock %}

{% block content %}
    <div class="intro">{{ page.intro }}</div>

    {{ page.body|richtext }}

    {% with images=page.gallery_images.all %}
        {% if images %}
            {% for item in images %}
            <div style="float: inline-start; margin: 10px">
                {% image item.image fill-320x240 %}
                <p>{{ item.caption }}</p>
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}


    <p><a href="{{ page.get_parent.url }}">Return to {{ page.get_parent.title }}</a></p>
{% endblock %}
