{% extends "base/main.html" %}

{% load wagtailcore_tags wagtailimages_tags %}
{% block body_class %}template-standard-page{% endblock %}

{% block content %}
<main id="main" class="wrapper">
    <div class="inner">

        <!-- Content Header -->
        <header class="major">
            <h1>{{ self.title }}</h1>
            {% if show_meta %}
            <div class="metadata">
                <span class="icon solid fa-calendar-alt"></span><span class="date">{{ self.last_published_at|date:'M j, Y' }}</span>
            </div>
            {% endif %}
            {% if show_intro %}
            <p class="intro">{{ self.intro }}</p>
            {% endif %}
        </header>

        <!-- Content -->
        <div class="content">
            {{ self.body }}
        </div>

    </div>
</main>
{% endblock %}
