{% extends "base/main.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}
{% block body_class %}template-section-page{% endblock %}

{% block content %}
<section id="main" class="wrapper sidebar right">
    <div class="inner">

        <!-- Content Header -->
        <header class="major">
            <h2>{{ page.title }}</h2>
            {% if show_meta %}
            <p class="metadata">
                <span class="icon solid fa-calendar-alt"></span><span class="date">{{ page.date }}</span>
                {% with tags=page.tags.all %}
                    {% if tags %}
                    | <span class="icon solid fa-tags"></span>
                    {% for tag in tags %}
                        <a class="tags" href="{% slugurl 'tags' %}?tag={{ tag }}"><button type="button">{{ tag }}</button></a>
                    {% endfor %}
                    {% endif %}
                {% endwith %}
                {% with authors=page.authors.all %}
                    {% if authors %}
                    | <span class="icon solid fa-user"></span>
                    {% for author in authors %}
                        <span class="author">{{ author.name }}</span>
                    {% endfor %}
                    {% endif %}
                {% endwith %}
            </p>
            {% endif %}
        </header>

        <!-- Content -->
        <div class="content">
            {% with page.main_image as main_image %}
                {% if main_image %}
                    <span class="image fit">{% image main_image.image fill-1080x720 %}</span><p class="credits"><a href="#">{{ main_image.credit_text }}</a></p>
                {% else %}
                    <span class="image fit"><img src="{% static 'images/pic07-1080x720.jpg' %}" alt="" /></span>
                {% endif %}
            {% endwith %}
            {% if is_markdown %}
            {{ page.body|markdown|safe }}
            {% else %}
            {{ page.body|richtext }}
            {% endif %}
        </div>

        <!-- Sidebar -->
        {% include "includes/sidebar.html" %}

    </div>
</section>
<!-- p><a href="{{ page.get_parent.url }}">Return to {{ page.get_parent.title }}</a></p -->
{% endblock %}
